body {
  height: 100vh;
  background: linear-gradient(orangered, black);
  display: flex;
  overflow: hidden;
}
.container {
  margin: auto;
  border-radius: 5px;
  box-shadow: 11px 9px 11px 4px #f4433654;
}
.container > h4 {
  font-size: 25px;
}
.content {
  margin: auto;
  font-family: "Salsa", cursive;
  text-align: center;
  color: white;
}

.user_name {
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 100;
}
.legout:hover {
  color: rgb(243, 168, 168);
  background: linear-gradient(
    rgba(255, 68, 0, 0.393),
    rgba(216, 213, 213, 0.641)
  );
  letter-spacing: 2px;
}
